{% extends 'master/master.html' %}

{% block body %}
  <style>
    .form-container {
      max-width: 700px;
      margin: auto;
      padding: 30px;
      background: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-title {
      margin-bottom: 30px;
      font-weight: 600;
      text-align: center;
    }
  </style>

  <div class="container py-5">
    <div class="form-container">
      <h2 class="form-title">Add new Course</h2>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label for="course_title" class="form-label">Course Title</label>
          <input type="text" class="form-control" id="course_title" name="course_title" required />
        </div>

        <div class="mb-3">
          <label for="course_description" class="form-label">Course Description</label>
          <textarea class="form-control" placeholder="Enter course description" id="floatingTextarea" name="course_description"></textarea>
        </div>

        <div class="mb-3">
          <label for="course_duration" class="form-label">course duration</label>
          <input type="text" class="form-control" id="course_duration" name="course_duration" required />
        </div>

        <div class="mb-3">
          <label for="course_start_date" class="form-label">course start date</label>
          <input type="date" class="form-control" id="course_start_date" name="course_start_date" required />
        </div>

        <div class="mb-3">
          <label for="course_fee" class="form-label">course fee</label>
          <input type="text" class="form-control" id="course_fee" name="course_fee" required />
        </div>

        <div class="mb-3">
          <label for="assign_teacher" class="form-label">Assign Teacher</label>
          <select class="form-select" name="assign_teacher" aria-label="Default select example">
            {% for teacher in teacherData %}
              <option value="{{teacher.id}}">{{teacher.id}}--{{teacher.teacher_name}}</option>
            {% endfor %}
              
          </select>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
