{% extends "master.html" %}
 {% block body %}
 <style>
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 2rem;
    }

    th, td {
      padding: 1rem;
      text-align: left;
    }

    thead {
      background-color: #1f2937;
      color: #fff;
    }

    tbody tr:nth-child(even) {
      background-color: #f1f5f9;
    }

    tbody tr:hover {
      background-color: #e2e8f0;
    }
  </style>

  <div class="container">
    <h1>Book List</h1>
    <p>Here is a stylish list of all available Students in the Management Course.</p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Semester</th>
          <th>Age</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for data in studentData %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.semester }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.phone }}</td>
          </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>

 {% endblock body %}
