{% extends 'master.html' %}

{% block body %}
  <style>
    .form-container {
      max-width: 700px;
      margin: auto;
      padding: 30px;
      background: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-title {
      margin-bottom: 30px;
      font-weight: 600;
      text-align: center;
    }
  </style>

  <div class="container py-5">
    <div class="form-container">
      <h2 class="form-title">Add Book</h2>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="title" class="form-label">title</label>
            <input type="text" class="form-control" id="title" name="title" required />
          </div>
          <div class="mb-3 col-md-6">
            <label for="author" class="form-label">author</label>
            <input type="text" class="form-control" id="author" name="author" required />
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea class="form-control" id="description" name="description" rows="2" required></textarea>
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="published_date" class="form-label">published_date</label>
            <input type="date" class="form-control" id="published_date" name="published_date" required />
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
