{% extends 'master.html' %}

{% block body %}
  <style>
    .form-container {
      max-width: 700px;
      margin: auto;
      padding: 30px;
      background: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-title {
      margin-bottom: 30px;
      font-weight: 600;
      text-align: center;
    }
  </style>

  <div class="container py-5">
    <div class="form-container">
      <h2 class="form-title">Add product</h2>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="profile_image" class="form-label">Product Image</label>
          <input type="file" class="form-control" id="profile_image" name="product_image" accept="image/*" required />
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="product_name" class="form-label">product name</label>
            <input type="text" class="form-control" id="product_name" name="product_name" required />
          </div>
          <div class="mb-3 col-md-6">
            <label for="product_price" class="form-label">product_price</label>
            <input type="text" class="form-control" id="product_price" name="product_price" required />
          </div>
        </div>

        

        <div class="mb-3">
          <label for="product_description" class="form-label">product_description</label>
          <textarea class="form-control" id="product_description" name="product_description" rows="2" required></textarea>
        </div>

        

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
